{% extends 'base.html.twig' %}

{% block title %}Modify password{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modify password</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Modify the password</button>
        {{ form_end(form) }}
    </div>

{% endblock %}