{% extends 'base.html.twig' %}
{% block title %}Welcome to the best accommodation network{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron mt-3">
        <h1 class="display-3">Welcome to SymBNB</h1>
        <p class="lead">Connecting customers and accomodation owners !</p>
        <hr class="my-4">
        <p>Are you a traveller and a backpacker looking for your next trip?</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Check our offers</a>
        </p>
    </div>
    <h2 class="h1 mt-3 mb-4">Our best accomodations</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-head text-center">
                        3 rooms, <strong>49&euro; / night</strong> <br>
                        <small>No rating yet</small>
                </div>
                <img src="http://placehold.it/1000x400" alt="Accomodation image" 
                style="height: 200px; width: 100%; display: block">
                <div class="card-body">
                    <h4 class="card-title">
                        Great flat !
                    </h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. A adipisci distinctio quidem ducimus tempore porro possimus debitis ut excepturi qui.
                    </p>
                    <a href="" class="btn btn-secondary">More info</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-head text-center">
                        3 rooms, <strong>49&euro; / night</strong> <br>
                        <small>No rating yet</small>
                </div>
                <img src="http://placehold.it/1000x400" alt="Accomodation image" 
                style="height: 200px; width: 100%; display: block">
                <div class="card-body">
                    <h4 class="card-title">
                        Great flat !
                    </h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. A adipisci distinctio quidem ducimus tempore porro possimus debitis ut excepturi qui.
                    </p>
                    <a href="" class="btn btn-secondary">More info</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-head text-center">
                        3 rooms, <strong>49&euro; / night</strong> <br>
                        <small>No rating yet</small>
                </div>
                <img src="http://placehold.it/1000x400" alt="Accomodation image" 
                style="height: 200px; width: 100%; display: block">
                <div class="card-body">
                    <h4 class="card-title">
                        Great flat !
                    </h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. A adipisci distinctio quidem ducimus tempore porro possimus debitis ut excepturi qui.
                    </p>
                    <a href="" class="btn btn-secondary">More info</a>
                </div>
            </div>
        </div>
    </div>
    <h2 class="h1 mt-3 mb-4">Our amazing owners</h2>
    <div class="row">
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card title">Fred Mineur</h4>
                    <hr>
                    <div class="card-text">
                        <img src="http://placehold.it/64x64" alt="Fred avatar" class="gloat-left mr-3">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. A, ducimus.</p>
                        <a href="#" class="btn btn-success float-right">More infor</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card title">Fred Mineur</h4>
                    <hr>
                    <div class="card-text">
                        <img src="http://placehold.it/64x64" alt="Fred avatar" class="gloat-left mr-3">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. A, ducimus.</p>
                        <a href="#" class="btn btn-success float-right">More infor</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
